<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1>Welcome to my Shopping List!</h1>
    <p> test test <a href="/list">See List</a></p>
    <p><a href="/quantities">See List with quantities</a></p>
  </body>
</html>
